<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Card Detail</title>
</head>
<body>
<h1>Bank Details:</h1>
<p th:text="${errors}"></p>
<form th:action="@{/add}" method="POST">
<table>
    <thead><th>Bank</th><th>Card Number</th><th>Expiry Date</th></thead>
    <tbody>
        <tr th:each="card: ${bankcards}">
            <td th:text="${card.bankName}" />
            <td align="center" th:text="${card.cardNumber}" />
            <td align="center" th:text="${#temporals.format(card.expiryDate, 'MMM-yyyy')}" />
        </tr>
        <tr>
            <td><input type="text" name="bankName"></td>
            <td><input type="text" name="cardNumber"></td>
            <td>
                <select name="expiryMonth">
                    <option th:each="month: ${months}" th:value="${month}" th:text="${month}" />
                </select>
                <select name="expiryYear">
                    <option th:each="year: ${years}" th:value="${year}" th:text="${year}" />
                </select>
            </td>
            <td>
                <input type="submit" value="Add">
            </td>
        </tr>
    </tbody>
</table>
</form>
<form method="POST" enctype="multipart/form-data" action="/upload">
    <table>
        <tr><td>File:</td><td><input type="file" name="file" /></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
</form>
</body>
</html>